.display-card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #707070;
    border-radius: 0.7rem;
}

.display-card-body {
    overflow-y: auto;
}

.display-card-body::-webkit-scrollbar {
    width: 0.25rem;
    margin-left: -10px;
}

.display-card-body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 1.25rem;
}