.game-container {
    max-width: 80vw;
}

.password-card {
    height: 17vh;
    font-size: 1.25rem;
}

.blanks {
    font-size: 3rem;
}

.hint-card {
    height: 32vh;
}

.hint-pretext {
    font-size: 1.25rem;
}

.current-hint {
    font-size: 2.5rem;
}

.hints {
    overflow: auto;
}

.hint-card input[type="text"]::placeholder {
    font-style: italic;
}

.hints::-webkit-scrollbar {
    width: 0.25rem;
    margin-left: -10px;
}

.hints::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 1.25rem;
}

.game-chat {
    height: 70vh;
}