.heading {
    height: 15vh;
    text-align: center;
    vertical-align: middle;
}

.title-img {
    width: 30vw;
}

.subtitle {
    font-size: 1.5rem;
}

@media(max-width:992px) {
    .title-img {
        width: 60vw;
    }
}
