.subtitle {
    font-size: 1.5rem;
}

.card-holder {
    width: 50vw;
}

.home-card {
    height: 60vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.display-card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #707070;
    border-radius: 1.3rem;
}

.card-top {
    height: 65%;
}

.card-bottom {
    height: 30%;
}

.card-button {
    width: 60%;
}

.bottom-content {
    font-size: 1.3rem;
}

.card-right {
    height: 100%;
}

.instructions {
    font-size: 1rem;
    margin-left: -8%;
}

@media(max-width:992px) {
    .card-holder {
        width: 90vw;
    }

    .create-button {
        font-size:  0.9rem;
    }
}

@media(max-width:768px) {
    .home-cards {
        height: 80vh;
    }
}