.heading {
    height: 25vh;
    text-align: center;
    vertical-align: middle;
}

.card-holder {
    width: 50vw;
}

.home-cards {
    height: 60vh;
}

.display-card {
    background-color: #1B1922;
    border: 1px solid #FDFDFD;
    border-radius: 1rem;
}

.card-top {
    height: 65%;
}

.avatar {
    height: 45%;
}

.card-bottom {
    height: 30%;
}

.card-right {
    height: 100%;
}