.heading {
    height: 25vh;
    text-align: center;
    vertical-align: middle;
}

@font-face {
    font-family: PositiveSystem;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Positive\ System.otf") format("opentype");
}

.subtitle {
    font-size: 1.5rem;
}

.card-holder {
    width: 50vw;
}

.home-cards {
    height: 60vh;
}

.display-card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #707070;
    border-radius: 1.3rem;
}

.card-top {
    height: 65%;
}

.card-bottom {
    height: 30%;
}

.card-button {
    width: 60%;
}

.card-right {
    height: 100%;
}

@media(max-width:992px) {
    .card-holder {
        width: 90vw;
    }
}

@media(max-width:768px) {
    .home-cards {
        height: 80vh;
    }
}